:root {
  --color-background: #faf7f3;
  --color-text: #333333;
  --color-heading: #383238;
  --color-button-bg: #faf7f3;
  --color-button-border: #ccc;
  --color-button-hover-bg: #000000;
  --color-button-hover-text: #ffffff;

  --font-heading: "Kedebideri", sans-serif;
  --font-body: Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--color-background);
}

.button {
    display: inline-block;
    padding: 1em 3em;
    border: 1.5px solid var(--color-button-border);
    background-color: var(--color-button-bg);
    color: var(--color-text);
    font-family: var(--font-body);
    font-size: 12px;
    letter-spacing: 2px;
    border-radius: 4px;
    margin:  1.5em 0 5em;
    transition: 0.5s;
}

.button:hover {
    background: var(--color-button-hover-bg);
    color: var(--color-button-hover-text);
}

.intro_homepagina {
    text-align: center;
}

.logo_website_body {
    max-width: 60%;
    padding: 3em 15% 0em;
}

section img {
    max-width: 100%;
    margin-bottom: 3em;
}

h1 {
    text-transform: uppercase;
}

h1,
p {
    font-family: var(--font-heading);
    font-weight: 500;
    color: var(--color-heading);
    max-width: 60%;
    padding: 0 20% 0.5em;
}

.lower_part p {
    text-align: start;
}

@media (min-width: 750px) {

    .upper_part {
        display: flex;
        flex: 4fr 5fr;
    }

    .logo_website_body {
        max-width: 55%;
        padding: 19% 15% 0em;
    }

    .lower_part {
        display: flex;
        flex: 5fr 4fr;
        align-items: center;
    }
}
