body {
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 1em;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #cfcfcf;
    padding: 0.6em 2.5em; 
    position: relative;
}

.logo img {
    height: 4em;
    object-fit: contain;
    padding-top: 0.5em;
}

.nav-links {
    list-style: none;
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
    margin-left: 5em;
}

.nav-links li a {
    text-decoration: none;
    color: black;
    font-size: 1.2em; 
    font-weight: 500;
}

.nav-links li a:hover {
    text-decoration: underline;
}

.menu-icon {
    display: none;
    font-size: 2em; 
    cursor: pointer;
    user-select: none;
}

#menu-toggle {
    display: none;
}

@media (max-width: 850px) {

    .menu-icon {
        display: block;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 5em; 
        left: 0;
        width: 100%;
        background-color: #cfcfcf;
        padding: 1.25em 0; 
        gap: 1.6em;
        text-align: center;
    }

    #menu-toggle:checked ~ .nav-links {
        display: flex;
    }

    .nav-links li a {
        font-size: 1.25em; 
    }

    .navbar {
        padding: 0.6em 1.25em; 
    }

    .nav-links {
        margin-left: 0;
    }
}
