* {
    margin: 0;
    padding: 0;
}

body {
    background: #faf7f3;
}

h1 {
    font-family: "Kedebideri", sans-serif;
    font-weight: 500;
    color: #383238;
    padding: 1em 2em 1em;
}

.card-container {
    display: flex;
    gap: 4em;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 2em;
}

.card {
    width: 25em;
    background: #000;
    color: #fff;
    overflow: hidden;
    border-radius: 8px;
    position: relative;
}

.card img {
    width: 100%;
    height: 28em;
    object-fit: cover;
}

.card-info {
    padding: 1em;
    background: #111;
}

.card-info h3 {
    margin: 0;
    font-size: 1em;
}

.card-info p {
    margin: 1em 0 0;
    font-size: 12px;
    opacity: 0.7;
}

.card-grid {
    display: flex;
    gap: 4em;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 2em;
}

.card-no-radius {
    width: 25em;
    overflow: hidden;
    border-radius: 0;
    position: relative;
}

.card-img {
    width: 100%;
    height: 28em;
    object-fit: cover;
}

.card-info {
    padding: 1em;
    background: #111;
}

.card-info h3 {
    margin: 0;
    font-size: 1em;
}

.card-info p {
    margin: 1em 0 0;
    font-size: 0.75em;
    opacity: 0.7;
}

.card-title {
    font-size: 1.1em;
    font-weight: 600;
    margin-bottom: 0.3em;
}


@media (max-width: 900px) {
    .card {
        width: 100%;
        max-width: 30em;
    }

    .card-container {
        justify-content: center;
    }

    .card-no-radius {
        width: 100%;
        max-width: 30em;
    }

    .card-grid {
        justify-content: center;
    }
}