:root {
    --color-background: #faf7f3;
    --color-card-bg: #000000;
    --color-card-text: #ffffff;
    --color-card-info-bg: #111111;
    --color-heading: #383238;

    --font-heading: "Kedebideri", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: var(--color-background);
}

h1,
h2 {
    font-family: var(--font-heading);
    font-weight: 500;
    color: var(--color-heading);
    padding: 1em 2em 1em;
}

.card-container {
    display: flex;
    gap: 4em;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 2em;
}

.card {
    width: 25em;
    background: var(--color-card-bg);
    color: var(--color-card-text);
    overflow: hidden;
    border-radius: 8px;
}

.card img {
    width: 100%;
    height: 28em;
    object-fit: cover;
}

.card-info {
    padding: 1em;
    background: var(--color-card-info-bg);
}

.card-info h3 {
    margin: 0;
    font-size: 1em;
}

.card-info p {
    margin: 1em 0 0;
    font-size: 12px;
    opacity: 0.7;
}

.card-grid {
    display: flex;
    gap: 4em;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 2em;
}

.card-no-radius {
    width: 25em;
    overflow: hidden;
    border-radius: 0;
    position: relative;
}

.card-img {
    width: 100%;
    height: 28em;
    object-fit: cover;
}

.card-info {
    padding: 1em;
    background: var(--color-card-info-bg);
}

.card-info h3 {
    margin: 0;
    font-size: 1em;
}

.card-info p {
    margin: 1em 0 0;
    font-size: 0.75em;
    opacity: 0.7;
}

.card-title {
    font-size: 1.1em;
    font-weight: 600;
    margin-bottom: 0.3em;
}

@media (max-width: 900px) {
    .card {
        width: 100%;
        max-width: 30em;
    }

    .card-container {
        justify-content: center;
    }

    .card-no-radius {
        width: 100%;
        max-width: 30em;
    }

    .card-grid {
        justify-content: center;
    }
}